/* @import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
